body {
    display: flex;
    align-items: center;
}

main {
    margin: 0 auto;
    height: 500px;
    width: 500px;
}

.navbar {
    position: relative;
    z-index: 4;
    display: flex;
    width: 70px;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.navbar > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navbar-btn {
    width: auto;
    height: auto;
    position: unset;
    justify-content: center;
    transform:unset;
    left: unset;
    background-color: unset;
    backdrop-filter: unset;
    border: unset;
    box-shadow: unset;
}

.btn-span {
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: white;
    white-space: nowrap;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
    left: 70px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 1.3rem;
}
.btn-span::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: -6px;
    top: 50%;
    transform: translateY(-50%);
    border-bottom: 5px solid transparent;
    border-right: 10px solid rgb(255, 255, 255);
    border-top: 5px solid transparent;
}

.btn-admin:hover .btn-span,
.btn-span:hover{
    display: inline-block;
}


.settings,
.profile {
    height: 120px;
    transform-origin: left;
    transform: scaleX(0)
}

.settings {
    top: -60px;
    right: -140px;
}

.profile {
    top: 10px;
    left: 70px;
}

.settings::before,
.profile::before {
    transform: translateY(100px);
    left: -15px;
    border-bottom: 5px solid transparent;
    border-right: 10px solid rgb(255, 255, 255);
    border-top: 5px solid transparent;
}

.profile::before {
    top: -80px;
}

.menu__container-settings:hover .settings,
.menu__container-settings:active .settings,
.settings:hover{
    transform: scaleX(1)
}
.menu__container-profile:hover .profile,
.menu__container-profile:active .profile,
.profile:hover{
    transform: scaleX(1)
}

@media(min-height: 700px) {
    .navbar {
        padding: 50px 0;
    }

    .navbar > div{
        gap: 20px;
    }

    main {
        height: 700px;
        width: 500px;
    }
}

@media(min-width: 1124px) {
    main {
        width: 80%;
        max-width: 1250px;
        flex-direction: row;
    }

    .message-section {
        width: 100%;
    }

    .form-people {
        width: 50%;
        align-self: center;
    }

    .welcome-message figure img{
        width: 350px;
    }

}


