:root {
    --background: #252526;
    --text: #FFF;
    --highlight: #ae50fb;
    --background-container: rgba(227, 227, 227, .3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: #252526;
    will-change: background-color;
    transition: background-color 0.5s;
    overflow: hidden;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

img {
    width: 100%;
    height: 100%;
}

a {
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 4;
    width: 100%;
    height: 70px;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.navbar-btn {
    width: 100vw;
    height: 70px;
    position: absolute;
    justify-content: center;
    transform: translate(10px, calc(100vh - 70px));
    left: -10px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.navbar > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.navbar__container-logo {
    display: grid;
    place-content: center;
    width: 60px;
    height: 100%;
}

.container-icon{
    display: grid;
    place-content: center;
    width: 50px;
    height: 50px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    transition: background-color 0.1s;
}

.btn-span {
    display: none;
}

.container-icon:hover,
.container-icon:active,
.container-icon:focus {
    background: rgb(255, 255, 255);
}

.logo {
    width: 100%;
    height: 100%;
    background-image: url("../images/shop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.menu__container-settings,
.menu__container-profile {
    position: relative;
}

.settings,
.profile {
    width: 110px;
    height: 100px;
    position: absolute;
    margin: -10px 0;
    padding: 10px;
    color: #252526;
    background-color: rgb(255, 255, 255);
    transition: all 0.2s 0.3s linear;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(43, 43, 54, 0.37);
}

.settings {
    top: 75px;
    right: 0;
}

.profile {
    top: 75px;
    left: 0;
}

.settings::before,
.profile::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 10px solid rgb(255, 255, 255);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.settings::before {
    top: -10px;
    right: 20px;
}

.profile::before {
    top: -10px;
    left: 20px;
}

.menu__container-settings:hover .settings,
.menu__container-settings:active .settings,
.settings:hover{
    transform: scaleY(1);
    opacity: 1;
}

.menu__container-profile:hover .profile,
.menu__container-profile:active .profile,
.profile:hover{
    transform: scaleY(1);
    opacity: 1;
}

.settings h3,
.profile h3 {
    display: block;
    padding-bottom: 2px;
    font-weight: 900;
    font-size: 1.3rem;
    border-bottom: 1px solid rgb(46, 46, 46);
    margin-bottom: 5px;
}

.settings-icon {
    will-change: transform;
    transition: transform 0.5s linear;
}

.menu__container-settings:hover .settings-icon {
    transform: rotate(180deg);
}

.container-theme {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign-out {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    padding: 5px 2px;
    color: rgb(29, 27, 27);
    border-radius: 2px;
}

.sign-out:hover,
.sign-out:active {
    cursor: pointer;
    background-color: rgb(223, 223, 223)
}

.sign-out a {
	color: rgb(29, 27, 27);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem
}

.sign-out i {
    font-size: 1.5rem !important;
}

.container-theme span {
    font-weight: 700;
    font-size: 1.2rem
}

.theme-switch {
    --background: rgb(232, 194, 250);
    --text: #252526;
    color: var(--text);
    width: 45px;
    height: 18px;
    background-color: var(--highlight);
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    will-change: background-color;
    transition: background-color 0.5s;
}

.switch {
    background: rgb(232, 194, 250);
    width: 12px;
    height: 12px;
    background-color: var(--background);
    border-radius: 100%;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: 0.5s all ease;
}

.light-theme {
    --background: rgb(232, 194, 250);
    --text: #000;
    --background-container: rgba(100, 100, 100, 0.3);
    background-color: var(--background);
    will-change: background-color;
    transition: background-color 0.5s;
}

.light-theme .theme-switch {
    background-color: var(--text);
    will-change: background-color;
    transition: background-color 0.5s;
}

.light-theme .switch {
    transform: translateX(25px);
}

.navbar__menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 130px;
    height: 100%;
}

.container-icon i {
    font-size: 30px;
    opacity: 0.7;
}

main {
    z-index: 3;
    position: relative;
    width: auto;
    height: calc(100vh - 180px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border-radius: 10px;
    gap: 20px;
}

.form-people {
    display: flex;
    width: 100%;
    height: 60%;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px
}

.message-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow-y: auto;
}

.message {
    display: flex;
    width: 100%;
    height: auto;
    max-height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 20px;
    font-weight: 300;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.message p {
    width: calc(100% - (1.5rem + 10px));
    height: 100%;
    text-overflow: ellipsis;
    padding: 1px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.message p::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
.message p::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 10px;
}

.message i {
    font-size: 1.5rem;
    text-align: center;
    align-self: center;
}

.message i:hover,
.message i:active {
    cursor: pointer;
    color: white;
}

.error-message {
    color: rgb(255, 219, 219);
    background-color: rgb(226, 126, 143, 0.5);
    border: 2px solid rgb(255, 219, 219);
}
.error-message p::-webkit-scrollbar-thumb {
    background-color: #ffcece;

}

.success-message {
    color: rgb(194, 250, 194);
    border: 2px solid rgb(194, 250, 194);
    background-color: rgb(76, 221, 124, 0.5);
}
.success-message p::-webkit-scrollbar-thumb {
    background-color: #ceffe7;
}

.neutral-message {
    color: rgb(215, 250, 255);
    background-color: rgba(63, 206, 206, 0.5);
    border: 2px solid rgb(215, 250, 255);
}
.neutral-message p::-webkit-scrollbar-thumb {
    background-color: #ceffff;

}

.welcome-message {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    height: 100%;
    gap: 20px;
    font-size: 1.8rem;
    color: white;
    text-align: center;
}

.welcome-message figure {
    width: 100%;
    display: grid;
    place-content: center;
}

.welcome-message figure img{
    width: 250px;
    height: auto;
}

.welcome-message article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
    width: 100%;
}

.welcome-message h2 {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    margin: 10px 0;
}

.welcome-message h3 {
    font-weight: 500;
}

.welcome-message p {
    font-weight: 400;
}

.title-section {
    font-size: 1.8rem;
    color: white;
}

.file-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.input-file {
    width: 100%;
    padding: 25px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
}

::-webkit-file-upload-button {
    padding: 10px;
    border-radius: 50px;
    outline: none;
    border: none;
    transition: background-color 0.5s;
    background-color: rgba(44, 44, 44, 0.5);
    margin-right: 20px;
    color: white;
    font-weight: 700;
}

::-webkit-file-upload-button:hover,
::-webkit-file-upload-button:hover {
    background-color: rgba(44, 44, 44, 0.9);
    cursor: pointer;

}

.btn-file {
    width: 100%;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    padding: 15px 0;
    border-radius: 10px;
    color: white;
    background-color: rgba(194, 50, 230, 0.9);
    transition: background-color 0.5s;
}

.btn-file:hover,
.btn-file:active {
    background-color: rgba(215, 105, 243, 0.9);
    cursor: pointer;
}

.input-container-admin {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-group-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* height: 150px; */
    overflow-y: scroll;
}

.input-general {
    background-color: rgb(255, 255, 255, 0.7);
}


.crud-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 30px;
}

.btn-admin {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 5px;
}

.btn-admin-crud {
    height: 30px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 5px;
    will-change: background-color;
    transition: background-color 0.1s;
}

.btn-admin-crud img {
    width: 100%;
    height: 100%;
}

.btn-admin-crud:hover,
.btn-admin:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255);

}

@media(min-width: 400px) {
    .btn-group-section {
        gap: 20px;
    }
    .btn-admin {
        padding: 10px;
    }
}

@media (min-height: 650px) {
    .input-group-section {
        height: auto;
        overflow-y: auto;
    }
}

@media(min-width: 500px) {
    .btn-file {
        background-color: rgba(44, 44, 44, 0.9);
    }

    .btn-file:hover,
    .btn-file:active {
        background-color: rgba(71, 71, 71, 0.9);
    }
}

.white {
    background-color: rgb(255, 255, 255);
}
/* background-color: rgba(255, 255, 255, 0.3) */
/* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
/* backdrop-filter: blur(4px) */
/* border: 1px solid rgba(255, 255, 255, 0.18) */